@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Light.ttf") format("opentype");
    font-weight:300;
}
@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Regular.ttf") format("opentype");
    font-weight:400;
}
@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Medium.ttf") format("opentype");
    font-weight:500;
}
@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-SemiBold.ttf") format("opentype");
    font-weight:600;
}
@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Bold.ttf") format("opentype");
    font-weight:700;
}
@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-ExtraBold.ttf") format("opentype");
    font-weight: 800;
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf") format("opentype");
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-ExtraLight.ttf") format("opentype");
    font-weight: 200;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Light.ttf") format("opentype");
    font-weight: 300;
}
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf") format("opentype");
    font-weight: 400;
}
html,
body{
    margin: 0 auto;
    width: 1920px;
}
body{
    position: relative;
}
*, ::before, ::after, :active{
    transition: .3s;
}
a{
    text-decoration: none;
    outline:none;
}
button,
button:hover,
button:active{
    padding: 0 0 0 0;
    outline: none;
}
.header{
    left: 375px;
    top: 40px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.brand{
    display: flex;
    align-items: center;
    margin: 0 220px 0 0;
}
.brand:hover{
    opacity: .67;
}
.brand:active{
    opacity: 1;
}
.brand-logo{
    fill:#fff;
}
.header-title{
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #fff;
    text-transform: capitalize;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.navigation{
    display: flex;
    align-items: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
}
.nav-link{
    margin: 0 30px 0 0 ;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}
.nav-link-last{
    margin: 0 60px 0 0 ;
}
.nav-link:hover{
    color: #c7b299;
}
.nav-link:active{
    color: #fff;
}
.nav-button{
    height: 27px;
    width: 20px;
    border: none;
    margin: 0 30px 0 0;
    padding: 0 0 0 0;
    background-color: transparent;
}
.nav-button:hover{
    opacity: .67;
}
.nav-button:active{
    opacity: 1;
}
.form{
    display: flex;
}
.form label{
    position: relative;
    background-image: url("../img/search-btn.svg");
    background-size: cover;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
}
.search{
    position: absolute;
    font-weight: 300;
    color: #fff;
    left: -180px;
    top: -200px;
    opacity: 0;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
}
.search:focus{
    opacity: 1;
    left: -180px;
    top: 35px;
}

.slider{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    display: flex;
    text-align: center;
    padding: 380px 150px 40px 150px;
    justify-content: space-between;
}

.nav-arrow{
    padding: 0 0 0 0;
    margin: 60px 0 0 0;
    height: 75px;
    width: 45px;
    color: #fff;
    opacity: .5;
    display: block;
}
.nav-arrow:hover{
    opacity: 1;
}
.nav-arrow:active{
    opacity: .5;
    transform: scale(1.2);
}
.nav-arrow-left{
    background-image: url("../img/left.svg");
    background-size: cover;
}
.nav-arrow-right{
    background-size: cover;
    background-image: url("../img/right.svg");
}
.slider-content{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    line-height: 1.2;
    margin: 0 0 330px 0;
}
.slider-title{
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 0 0;
}
.slider-subtitle{
    font-size: 52px;
    font-weight: 800;
    margin: 0 0 20px 0;
}
.slider-text{
    max-width: 562px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin: 0 0 50px 0;
}
.slider-button{
    width: 170px;
    height: 53px;
    background-color: #998675;
    border-radius: 3px;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    box-shadow: inset 0 -3px 0 0 #736357;
}
.slider-button:hover{
    color: #991675;
    background-color: #fff ;

}
.slider-button:active{
    background-color: #991675;
    color: #fff;
}
.slider-nav{
    margin: 0 0 0 0;
    list-style: none;
    display: flex;
    align-self: flex-end;
    align-items: center;
    padding: 0 0 0 0;
    position: absolute;
	left:909px;
}
.slider-nav:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.slider-round{
    margin: 0 10px 0 0;
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #ffffff;
    border-radius: 50%;
}
.slider-round:hover{
    transform: scale(1.5);
    opacity: 1;
}
.slider-nav-active{
    width: 15px;
    height: 15px;
    border: 2px solid #d3c1ad;
    border-radius: 50%;
    background-color: transparent;
}
.specials{
    font-family: 'Raleway', sans-serif;
    color: #555555;
    padding: 80px 375px 80px 375px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.special{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: 266px;
    position: relative;
}
.special:hover{
    color: #c7b299;
}
.special:after{
    content: '';
    position: absolute;
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}
.special:hover::after{
    background-color: #c7b299;
}
.special:hover .special-text{
    color: #8c8c8c;
}
.special-img{
    margin: 0 0 30px 0;
    display: block;
    width: 100%;
    fill:#555;
}
.special-img:hover{
    fill:#c7b299;

}
.special-title{
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    margin: 0 0 20px 0;
}
.special-text{
    margin: 0 0 30px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    display: block;
}
.ideas{
    display: flex;
    padding: 80px 375px 0 375px;
    background-color: #fbfaf8;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
.block-title {
    margin: 0 0 24px 0;
    width: 100%;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}
.block-subtitle{
    display: block;
    max-width: 757px;
    margin: 0 0 40px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}
.ideas-gallery{
    position: relative;
    display: flex;
    align-items:flex-end;
    margin: 0 0 0 0;
    justify-content: center;
    width: 100%;
}
.ideas-gallery:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.idea-img-left{
    position: absolute;
    z-index: 1;
    left: 0;
}
.idea-img-center{
    z-index: 3;
    position: relative;
}
.idea-img-right{
    position: absolute;
    z-index: 1;
    right: 0;
}
.offer{
    padding: 50px 375px 50px 375px;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-between;
}
.offer-title{
    margin: 0 0 0 0;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}
.offer-title span{
    color: #c7b299;
}
.offer-subtitle{
    margin: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
}
.projects{
    padding: 80px 375px 80px 375px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    text-align: center;
}
.button-group{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 0 50px 0;
}
.projects-filter{
    margin: 0 10px 0 0;
    width: 120px;
    height: 32px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
    box-sizing: border-box;
    text-transform: capitalize;
}
.projects-filter:hover{
    background-color: #998675;
    color:#fff;
}
.projects-filter:active{
    background-color: #991115;
    color:#fff;
}
.filter-active{
    width: 70px;
    height: 32px;
    background-color: #998675;
    border-radius: 3px;
    color: #fff;
    border: none;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 0 30px 30px 0;
    padding: 0 0 0 0;
    background-color: #fbfaf8;
    overflow: hidden;
    position: relative;
}
.card:nth-child(3n){
    margin: 0 0 30px 0;
}
.card:hover:after{
    top: 0;
}
.card:hover{
    background-color: #362f2d;
    position: relative;
}
.card:after{
    content: '';
    position: absolute;
    box-sizing: border-box;
    top: -100%;
    width: 100%;
    height: 237px;
    padding: 106px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    opacity: .7;
    background-color: #111;
    z-index: 1;
}
.card-btn{
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 0 0 0 0;
    opacity: .67;
    top: -100px;
    left: 144px;
    position: absolute;
    z-index: 2;
}
.card:hover .card-btn{
    top: 106px;
}
.card-btn:hover{
    opacity: 1;
}
.card-btn:active{
    border: none;
    opacity: .67;
    background-color: transparent;
}
.card-btn-link{
    background-image: url("../img/link.svg");
    background-size: cover;
    height: 28px;
    width: 28px;
}
.card-btn-search{
    background-image: url("../img/search.svg");
    background-size: cover;
    height: 27px;
    width: 29px;
    margin: 0 0 0 45px;
}
.card-body{
    text-align: left;
    padding: 30px 0 30px 30px;
    position: relative;
}
.card-body:before{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
    top: -13px;
    left: 20px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #fbfaf8;
}
.card-title{
    margin: 0 0 0 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
}
.card-subtitle{
    margin: 0 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
}
.card:hover .card-title{
    color: #fff;
}
.card:hover .card-subtitle{
    color: #c7b299;
}
.card:hover .card-body:before{
    border-bottom: 10px solid #362f2d;
}
.presentation{
    position: relative;
    display: flex;
    text-align: center;
}
.presentation-content{
    padding: 210px 685px 0 685px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.presentation-btn{
    border: none;
    background-color: transparent;
    margin: 0 0 45px 0;
    position: relative;
}
.presentation-btn:hover{
    transform: scale(1.2);
}
.presentation-btn:active{
    opacity: .67;
}
.presentation-btn-img{
    position: relative;
    z-index: 2;
}
.presentation-btn:after {
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    opacity: 0.2;
    position: absolute;
    left: -10px;
    top: -10px;
    width: 100px;
    height: 100px;
    content: '';
    z-index: 1;
}
.presentation-title{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    margin: 0 0 30px 0;
    width: 100%;
}
.presentation-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
    margin: 0 0 40px 0;
}
.presentation-timer{
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c7b299;
}
.mobile{
    background-color: #fbfaf8;
    padding: 80px 380px 0 420px;
    display: flex;
    align-items: center;
}
.mobile-image{
    margin: 0 30px 0 0;
}
.mobile-title{
    margin: 0 0 40px 0;
    font-family: 'Raleway',sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}
.mobile-text{
    margin: 0 0 45px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}
.mobile-list{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    color: #8c8c8c;
    list-style: none;
	margin: 0 0 0 0;
}
.mobile-item{
    position: relative;
    padding: 0 0 0 0;
    margin: 0 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.mobile-item:before{
    content: '';
    display: block;
    background-image: url("../img/arrow_small_right.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 21px;
    width: 21px;
    margin: 0 30px 0 0;
}
.counters{
    padding: 70px 500px 60px 500px;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: space-between;
}
.counter{
    margin: 0 0 0 0;
    text-align: center;
}
.counter-img{
    margin: 0 0 30px 0;
}
.counter-title{
    margin: 0 0 20px 0;
    font-family: 'Montserrat',sans-serif;
    font-size: 48px;
    line-height: 36px;
    font-weight: 200;
    color: #ffffff;
}
.counter-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #c7b299;
}
.counter-text:after{
    content: '';
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    display: block;
    margin: 30px 0 0 33%;
}
.recent{
    padding: 80px 375px 80px 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.post-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}
.post{
    margin: 0 0 40px 0;
    max-width: 370px;
    text-align: left;
    border: 1px solid #f8f8f8;
    position: relative;
}
.post .slider-nav{
    top: 185px;
    left: 135px;
    margin: 0 0 0 0;
}
.post-img{
    display: block;
}
.date{
    position: absolute;
    text-align: center;
    top: 20px;
    left: 20px;
}
.data{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 20px;
    font-weight: 300;
    color: #ffffff;
    width: 50px;
    background-color: #363636;
    border-radius: 3px 3px 0 0;
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
    display: block;
}
.day{
    margin: 0 0 0 0;
    padding: 5px 0 5px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    width: 50px;
    background-color: #252525;
    border-radius: 0 0 3px 3px;
    display: block;
}
.post-body{
    padding: 30px 45px 30px 30px;
}
.post-title{
    margin: 0 0 20px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
}
.post-text{
    margin: 0 0 25px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #8c8c8c;
}
.post-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
    text-decoration: none;

}
.post-link:after{
    margin: 0 0 0 10px;
    content: '';
    display: inline-block;
    width: 5px;
    height: 8px;
    background-image: url("../img/link_arrow.svg");
    background-size: cover;
}
.recent-btn, .recent-btn:active{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border: none;
    background-color: transparent;
    outline-offset: 0;
    height: 22px;
    width: 22px;
    opacity: .67;
}
.recent-btn:hover{
    opacity: 1;
    transform: scale(1.2);
}
.post-left, .post-left:active{
    background-image: url("../img/post_left_arrow.svg");
    background-size: cover;
    margin: 0 10px 0 0;
}
.post-right{
    background-image: url("../img/post_right_arrow.svg");
    background-size: cover;
}
.post:hover{
    background-color: #362f2d;
    border: 1px solid transparent;
}
.post:hover .post-title{
    color: #c7b299;
}
.post:hover .post-text{
    color: #fff;
}
.post:hover .data{
    background-color: #c7b299;
}
.post:hover .day{
    background-color: #a48d72;
}
.partners{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    padding: 140px 405px 140px 405px;
}
.partner-link:hover .partner-img {
    transform: scale(1.2);
}
.partner-link:active{
    opacity: .67;
}
.footer{
    display: flex;
    padding: 80px 375px 80px 375px;
    background-color: #191919;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-element{
    margin: 0 0 0 0;
    max-width: 270px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}
.footer-element1{
    margin: 20px 0 0 0;
}
.footer .brand{
    margin: 0 0 30px 0;
}
.footer-text{
    margin: 0 0 30px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
}
.footer-link, .footer-link:active{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #d1d1d1;
    text-decoration: none;
}
.footer-link::after {
    margin: 0 0 0 10px;
    content: '';
    display: inline-block;
    width: 5px;
    height: 8px;
    background-image: url("../img/link_arrow.svg");
    background-size: cover;
    opacity: 0;
}
.footer-link:hover{
    color: #00bff3;
}
.footer-link:hover::after{
    opacity: 1;
}
.footer-title{
    margin: 0 0 30px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
}
.footer-post-link{
    margin: 0 0 20px 0;
    text-decoration: none;
    border-bottom: 2px solid #252525;
    padding: 0 0 20px 0;
}
.footer-post-subtitle{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
    display: block;
}
.footer-post-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
}
.footer-post-link:hover .footer-post-subtitle{
    color: #fff;
}
.footer-post-link:hover .footer-post-text{
    color: #c7b299;
}
.twitter-post{
    border-bottom: 2px solid #252525;
    width: 100%;
    margin: 0 0 15px 0;
    padding: 0 0 20px 0;
}
.twitter-post a, .twitter-post a:active{
    color: #00bff3;
    text-decoration: none;
}
.twitter-post a:hover{
    color:#fff;
}
.twitter-post .footer-post-text{
    margin: 0 0 10px 0;
}
.footer-gallery-img{
    margin: 0 0 10px 0;
}
.footer-gallery-img:hover{
    transform: scale(1.2);
}
.links-block{
    padding: 45px 375px 50px 375px;
    display: flex;
    justify-content: space-between;
    background-color: #111111;
}
.links{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;

}
.links-item, .links-item:active{
    display: block;
    border-right: 1px solid #252525;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0 ;
    box-sizing: border-box;
    color: #555555;
}
.links a:hover {
    color: #c7b299;
}
.links-item:last-child{
    border-right: none;
}
.brand-link, .brand-link:active{
    color: #959595;
}

